.App {
  text-align: center;
}

*:focus {
  outline: none;
}

.loading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loading-img {
  width: 10rem;
  height: 15rem;
}

.loading-text {
  margin-top: 10rem;
  font-size: 2rem;
}
