.SubscriptionList-Card {
  box-shadow: 0.3rem 0.5rem rgba(146, 146, 146, 0.199);
  background-color: rgb(231, 229, 229);
}
.card-title {
  text-align: center;
}
.underline {
  text-decoration: underline;
}
