.container-sponsor {
  display: flex;
  flex-direction: column;
  justify-items: center;
  @media (min-width: 1000px) {
    min-height: 40vh;
  }
}

.container-row {
  display: flex;
  flex-direction: row;
}

.img-sponsor {
  height: 7rem;
  width: 6rem;
  @media (min-width: 1000px) {
    width: 9rem;
    height: 8rem;
    margin-top: 2rem;
  }
}
