.ServiceList-ul-services {
  text-align: center;
  margin: 3rem;
}

.ServiceList-li-Categories {
  text-align: center;
}

.container-ul {
  padding: 3rem;
  background-color: rgb(238, 238, 238);
}

.service-link {
  text-decoration: none;
  font-style: normal;
}
.service-link:hover {
  background-color: lightgrey;
}

.container-list {
  text-align: center;
  margin: 3rem 0;
}

.category {
}
