@media (max-width: 325px) {
  .ServiceList-li-Categories {
    font-size: 1rem;
  }
  .ServiceList-li-Services {
    flex: 1 0 100%;
  }
}

.ServiceList-li-Categories {
  display: flex;
  font-weight: bold;
  padding: 2rem;
}

.ServiceList-ul-services {
  display: flex;
  flex-wrap: wrap;
  margin-left: 1rem;
}

.ServiceList-li-Services {
  flex: 1 0 50%;
  box-sizing: border-box;
}

@media (min-width: 550px) {
  .ServiceList-li-Categories {
    font-size: 1.4rem;
  }
  .ServiceList-li-Services {
    flex: 1 0 30%;
    font-size: 1rem;
  }
}

@media (min-width: 700px) {
  .ServiceList-li-Categories {
    font-size: 2rem;
  }
  .ServiceList-li-Services {
    flex: 1 0 30%;
    font-size: 1.2rem;
  }
}

@media (min-width: 1000px) {
  .ServiceList-li-Services {
    flex: 1 0 25%;
  }
}
