.Footer-ul {
  display: block;
  list-style-type: disc;
  margin-bottom: 0px;
  // margin-block-start: 1em;
  margin-top: 1em;
  // padding-inline-start: 40px;
  padding-left: 40px;
  @media (min-width: 1000px) {
    display: flex;
    justify-content: space-around;
  }
}
.Footer-ul li {
  margin-top: 1rem;
}

.container-footer {
  background-color: rgb(231, 229, 229);
}

.icons {
  width: 1.5rem;
  height: 1.5rem;
  @media (min-width: 1000px) {
    margin-right: 2rem;
  }
}

.footer-icons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 1rem;
  @media (min-width: 1000px) {
    margin-left: 7%;
    justify-content: end;
  }
}
