.SubscribeToOurPackages-Section {
  min-height: 20vh;
}

.SubscribeToOurPackages-link {
  color: #fff !important;
  text-decoration: none;
  background: rgb(0, 11, 118);
  padding: 1rem;
  border-radius: 3rem;
  display: inline-block;
  border: none;
  transition: all 0.4s ease 0s;
  margin: 2.5rem auto;
}

.SubscribeToOurPackages-link:hover {
  text-shadow: 0px 0px 10px rgba(255, 255, 255, 1);
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  transition: all 0s ease 0s;
}
