.MostPopularServices-Title {
  font-size: 1rem;
  margin-bottom: 0.8rem;
}

.MostPopularServices-Img {
  width: 5rem;
}

.MostPopularServices-Text {
  font-size: 0.7rem;
  margin: 0.3rem 1rem;
}

.MostPopularServices-hr {
  width: 90%;
  margin: 1rem auto;
}
