.MostPopularServices-Title {
  font-size: 1rem;
  margin-bottom: 0.8rem;
}

.MostPopularServices-Img {
  width: 5rem;
  height: 5rem;
  @media (min-width: 700px) {
    width: 10rem;
    height: 10rem;
  }
}

.MostPopularServices-Text {
  font-size: 0.7rem;
  margin: 0.3rem 1rem;
  @media (min-width: 700px) {
    font-size: 2rem;
  }
}

.MostPopularServices-hr {
  width: 90%;
  margin: 1rem auto;
}
