.container-terms h4 {
  font-size: 1.5rem;
  margin: 1rem 0;
}
.container-terms p {
  font-size: 0.8rem;
  text-align: start;
  margin: 0.2rem 0 0.2rem 0.5rem;
}

.Terms-smallText {
  font-size: 1rem;
  font-weight: 200;
  text-align: left;
}

.container-terms li {
  font-size: 0.8rem;
  margin: 0.5rem 0 0.2rem 0.5rem;
}
