.About_Us-Wave {
  background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1440 320'%3E%3Cpath fill='%23000b76' fill-opacity='1' d='M0,32L60,37.3C120,43,240,53,360,53.3C480,53,600,43,720,48C840,53,960,75,1080,96C1200,117,1320,139,1380,149.3L1440,160L1440,0L1380,0C1320,0,1200,0,1080,0C960,0,840,0,720,0C600,0,480,0,360,0C240,0,120,0,60,0L0,0Z' %3E%3C/path%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-color: rgb(231, 229, 229);
  min-height: 18rem;
  @media only screen and (min-width: 880px) {
    background-size: cover;
  }
}

.About_Us-Title {
  font-size: 1.5rem;
  margin-top: 25%;
  @media only screen and (min-width: 700px) {
    font-size: 1.8rem;
    margin-top: 20%;
  }
  @media only screen and (min-width: 900px) {
    font-size: 1.8rem;
    margin-top: 15%;
  }
}

.About_Us-Text {
  font-size: 0.8rem;
  text-align: start;
  margin-left: 1rem;
  margin-bottom: 3rem;
  @media only screen and (min-width: 700px) {
    font-size: 1rem;
    margin-left: 2rem;
  }
  @media only screen and (min-width: 1000px) {
    margin-left: 3rem;
  }
}
