.MyAccount-Container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  margin-top: 1.5rem;
  min-height: 35rem;
  justify-content: space-between;
}

.MyAccount-Text {
  text-align: left;
  font-weight: bold;
  @media (min-width: 700px) {
    font-size: 1.5rem;
  }
  @media (min-width: 900px) {
    font-size: 2rem;
  }
}

.MyAccount-TextShow {
  text-align: left;
  @media (min-width: 700px) {
    font-size: 1.2rem;
  }
  @media (min-width: 900px) {
    font-size: 1.7rem;
  }
}

.MyAccount-TextShowIncludes {
  text-align: left;
  @media (min-width: 700px) {
    font-size: 1.2rem;
  }
  @media (min-width: 900px) {
    font-size: 1.7rem;
  }
}

.MyAccount-links {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  height: 5rem;
  justify-content: space-between;
}
.MyAccount-links a {
  width: 50%;
  margin: 0 auto;
  background-color: rgba(190, 187, 187, 0.185);
}

.MyAccount-Subs {
  background-color: rgb(231, 229, 229);
}
