.navbar-dark .navbar-toggler {
  outline: none;
}

.Navbar-SignOut {
  display: inline-block;
  border-radius: 4px;
  border: none;
  text-align: center;
  // padding: 1rem;
  width: 8rem;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.Navbar-SignOut span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.Navbar-SignOut span:after {
  content: ' \27BE';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.Navbar-SignOut:hover span {
  padding-right: 25px;
}

.Navbar-SignOut:hover span:after {
  opacity: 1;
  right: 0;
}
