.navbar-dark .navbar-toggler {
  outline: none;
}

@media (min-width: 992px) {
  #responsive-navbar-nav {
    display: flex;
    justify-content: flex-end;
  }
  .Navbar-Inner {
    display: flex;
    width: 85%;
    margin: 0 auto;
  }
  .Navbar-SignIn {
    margin: 0 0.5rem;
    background-color: rgb(0, 0, 0);
  }
  .Navbar-Contact {
    margin-right: 2rem;
  }
}

.Navbar-SignOut {
  display: inline-block;
  border-radius: 4px;
  border: none;
  text-align: center;
  // padding: 1rem;
  width: 8rem;
  transition: all 0.5s;
  cursor: pointer;
  margin: 0 auto;
}

.Navbar-SignOut span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.Navbar-SignOut span:after {
  content: ' \27BE';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.Navbar-SignOut:hover span {
  padding-right: 25px;
}

.Navbar-SignOut:hover span:after {
  opacity: 1;
  right: 0;
}
