.Contact-Main {
  margin: 100px auto 0;
  width: 100%;
  max-width: 73rem;
  padding: 1.2rem;
  box-sizing: border-box;
  border: 5px solid black;
  border-radius: 2rem;
}

@media screen and (max-width: 460px) {
  .Contact-Main {
    margin: 25px auto 0;
  }
  .Contact-First-Form .Contact-Inner-Form {
    width: 100%;
    margin: 5px 0;
  }
  .Contact-First-Form,
  .Contact-Second-Form,
  .Contact-Third-Form {
    margin: 5px 0;
  }
  .Contact-Form {
    margin-top: 10px;
  }
  .Contact-Form input[type='text'],
  .Contact-Form textarea {
    width: 100%;
    box-sizing: border-box;
  }
}

/* Heading */
.Contact-Heading {
  text-align: center;
}

/* Contact-Form */
.Contact-Form {
  width: 100%;
  margin: 25px 0;
}

.Contact-First-Form,
.Contact-Second-Form,
.Contact-Third-Form {
  width: 100%;
  min-height: 65px;
  margin: 10px 0;
}

.Contact-Form input[type='text'],
.Contact-Form textarea {
  border: 2px solid #fff;
  padding: 15px 5px;
  outline: none;
  border-radius: 2px;
  width: 100%;
  box-sizing: border-box;
  transition: all 0.2s ease;
}

.Contact-Form input:focus,
.Contact-Form textarea:focus {
  border-color: #4ca1af;
  outline: none;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.0125), 0 0 8px rgba(76, 161, 175, 0.5);
}

.Contact-Form .label {
  margin-bottom: 5px;
  text-transform: capitalize;
}

/* Contact-First-Form */
.Contact-First-Form .Contact-Inner-Form {
  float: left;
  margin-right: 0.2rem;

  @media (min-width: 460px) {
    width: 24.2%;
    margin-bottom: 1rem;
  }
  @media (min-width: 600px) {
    width: 24.4%;
  }
  @media (min-width: 900px) {
    width: 24.6%;
  }
}

.Contact-First-Form .Contact-Inner-Form:last-child {
  margin-right: 0; 
}

/* Contact-Second-Form */
.Contact-Second-Form {
  clear: both;
}

/* Contact-Third-Form */
.Contact-Third-Form textarea {
  height: 120px;
}

.Contact-Inner-Form {
  border: 1px solid brown;
  background-color: green;
}




